*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1,
h2 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.row {
  width: 50%;
}
span {
  color:aqua;
  font-weight: 400;
  text-transform: capitalize;
}
h2 {
  font-size: 30px;
  line-height: 35px;
  margin: 20px 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.top {
  margin-top: 80px;
}
/*left-content*/
.home {
  display:flex;
}